@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
	scroll-behavior: smooth;
}

body,
html{
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: #eee;
}

section{
    padding: 6rem 0;
}

p{
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 300;
    color: #4d4d4d;
}
/*header*/
header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0,0,0,.9), transparent), url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
}
/*nav*/
.nav-container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
	position:relative;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
	font-family: 'ZCOOL XiaoWei', serif;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	color: #fff;
	font-family: 'ZCOOL XiaoWei', serif;
	font-weight: bold;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}


nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
	transition: 0.7s all;
}

nav ul li a:after{
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	bottom: 0;
	transform: translateX(-400%);
	background-color: crimson;
	opacity: 0;
	transition: 0.3s all;
}

nav ul li a:hover:after{
	transform: translateX(-100%);
	opacity: 1;
}

nav ul li a:last-child{
	margin-right: 0;
}

.main-text{
    /*position: relative;*/
	position: absolute;
	text-align: center;
	font-size: 3.5rem;
	color: #fff;
	font-family: 'ZCOOL XiaoWei', serif;
	/*transform: translateY(70%);*/
	letter-spacing: 8px;
	line-height: 80px;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-text:before,
.main-text:after{
    content: "";
    width: 5rem;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
}

.main-text:before{
    left: -20%;
}

.main-text:after{
    left: 100%;
}

/*nav btn*/
.main-text a svg,
.main-text a svg rect{
	position: fixed;
	top: 74%;
	left: 20%;
	width: 160px;
	height: 50px;
	fill: transparent;
}

.main-text a svg rect{
	stroke: #fff;
	stroke-width: 4;
	transition: 2s;
	stroke-dasharray: 500,500;
	stroke-dashoffset: 0;
}

.main-text a:hover svg rect{
	stroke-dasharray: 100,400;
	stroke-dashoffset: 263;
	stroke: crimson;
}
/*bar*/
.menu{
    padding: 2rem 2.5rem;
	top: 3rem;
    right: 3rem;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    border-radius: 3px;
    cursor: pointer;
}

.menu .bar,
.menu .bar:after,
.menu .bar:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 4rem;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 650ms;
}

.menu .bar:before{
    top: -2rem;
}

.menu .bar:after{
    top: 2rem;
}

.active .bar{
    background-color: transparent;
}

.active .bar:after{
    transform: rotate(-45deg);
}

.active .bar:before{
    transform: rotate(45deg);
}

.active .bar:after,
.active .bar:before{
    top:0;
}

/*mobile menu*/

.overlay.menu-open{
    background-color: rgba(0,0,0,.95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: all 650ms;
    opacity: 0;
    transform: scale(0);
	z-index: 10;
    
}

.overlay.menu-open{
    transform: scale(1);
    opacity: 1;
}

.nav .overlay.menu-open ul{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .overlay.menu-open ul li{
    text-transform: uppercase;
	text-align: center;
}

.nav .overlay.menu-open ul li a{
    display: block;
    font-size: 2rem;
    transition: all 650ms;
}

/*Resuable classes*/
.btn{
    display: inline-block;
    transition: all 650ms;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-info{
    font-size: 1.2rem;
    padding: 1rem;
    font-family: 'ZCOOL XiaoWei', serif;
	color: crimson;
    border-bottom: 2px solid crimson;
    margin: 2rem 0 4rem 0;
}

.btn-info:hover{
    background-color: crimson;
    color: #fff;
}

.custom-font{
    font-family: 'ZCOOL XiaoWei', serif;
    color: crimson;
    font-size: 6.5rem;
    line-height: 1;
    font-weight: 100;
}

.custom-font-secondary{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2.5rem;
    line-height: 1;
    color: #4d4d4d;
    margin-bottom: 5rem;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
	

.between-sec{
    padding: 20rem 0;
    text-align: center;
}

.between-sec-color{
    color: #fff;
}

/*Section - o nas*/

.o-nas{
	background-color: #fff;
}

/*Section - Kuchnia Japońska*/
.kuchnia-japonska{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0.5)), url("images/sushi-between4.jpg");
    background-size: cover;
}

/*section kafelki menu*/
.our-menu{
	height: 800px;
}

.content{
	position: absolute;
	top:30%;;
	left: 15%;
	z-index: 1;
}

.content p{
	color: #fff;
	font-weight: bold;
	padding-bottom: 50px;
	font-size: 25px;
}

.container-box{
	position: absolute;
	width: 90%; /*tym steruje*/
}

.container-box .box{
	display: inline-block;
	position: relative;
	list-style: none;
	width: 250px;
	height: 250px;
	box-sizing: border-box;
}

.container-box .boxl,
.container-box .boxn{
	opacity: 1;
}

.container-box .box img{
	width: 100%;
	height: 100%;
}

.container-box .box svg,
.container-box .box svg rect{
	position: absolute;
	/*top: 2%;
	left: 2%;*/
	width: 100%;
	height: 100%;
	fill: transparent;
}

.container-box .box svg rect{
	stroke: crimson;
	stroke-width: 6;
	transition: 1s;
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}

.box:hover svg rect{
	stroke-dasharray: 250,720;
	stroke-dashoffset: 470;
	stroke: crimson;
}


/*Section - tradycyjne receptury*/
.tradycyjne-receptury{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0.5)), url("images/sushi-between1.jpg");
    background-size: cover;
}

/*Section - Kontak*/

.kontakt .container{
	max-width: 800px;
}

.contact-us form{
    width: 100%;
    min-width: 9rem;
    margin-top: 5rem;
}

.input,
.text-area{
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
    padding: 5px 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 1px solid crimson;
    color: #878787;
}

.input:placeholder,
.text-area:plaeholder{
    color: #878787;
}

.text-area{
    height: 10rem;
}

.btn-submit{
    background-color: crimson;
    color: #fff;
    width:100%;
    padding: 1rem 0;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: #fff;
	color: crimson;
}

/*Footer*/
footer{
    width: 100%;
    text-align: center;
    background-color:  #141414;
    padding: 5rem 0;
    font-size: 1.8rem;
    color: #fff;
	overflow-y: hidden;
}

.footer{
	display: flex;
	justify-content: center;
}

.footer-box{
	margin: 0 10%;
}

footer h4{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: crimson;
    font-weight: 100;
    font-family: 'ZCOOL XiaoWei', serif;
}

footer p{
    color: #fff;
}

@keyframes slideIn{
	from{
		/*whatever transform: it is*/
	}
	to{
		transform: translateX(0);
	}
}

@media screen and (min-width: 760px){
	.menu{
		display: none;
	}
	
	header,
    .between-sec{
        background-attachment: fixed;
    }
}

@media screen and (max-width: 1420px){
	.our-menu{
		height: 1070px;
	}

}

@media screen and (max-width: 1136px){
	.container-box .boxl{
		opacity: 0;
	}
}


@media screen and (max-width: 856px){
	.container-box .boxl,
	.container-box .boxn{
		opacity: 0;
	}
	
	.our-menu{
		height: 900px;
	}

}

@media screen and (max-width: 760px){
	.overlay{
		opacity: 0;
	}
	
	.container-box .boxl,
	.container-box .boxn{
		opacity: 0;
	}
	
	.our-menu{
		height: 900px;
	}

}

@media screen and (max-width: 576px){
	
	.container-box .boxl,
	.container-box .boxn{
		display: none;
	}
	
	.our-menu{
		height: 1400px;
	}
	
}
	
@media screen and (max-width: 450px){
	.main-text:before{
    	left: -10%;
	}

	.main-text:after{
		left: 90%;
	}
	
	.brand{
		display: none;
	}
	
	.main-text a svg,
	.main-text a svg rect{
		top: 80%;
	}

}
